.footer {
  padding: 4rem;
  background-color: #000;
  color: #fff;
  width: 100vw;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top a {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
}

.top a:hover {
  color: #ffa725;
}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  flex-direction: column;
  display: flex;
}

.bottom h4 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }

  .footer a {
    margin: 1rem 1rem 0 0;
  }

  .bottom div {
    width: 50%;
  }
}
