.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  background-color: #fbfbfb;
}

.logo {
  text-decoration: none;
}

.nav-logo {
  font-size: 2rem;
  color: #854836;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  list-style: none;
  align-items: center;
}

.home-tag,
.about-tag,
.contact-tag {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.home-tag:hover,
.about-tag:hover,
.contact-tag:hover {
  background-color: #854836;
  color: #f7f7f7;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.login-button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #ffb22c;
  color: #f7f7f7;
}
